.nav {
    height: 10%;
    display: flex;              /* Use flexbox for layout */
    align-items: center;        /* Vertically center the items */
    justify-content: space-between; /* Push items to opposite ends */
    padding: 0 20px;            /* Optional: Add some padding for spacing */
    margin-top: 15px;
}

.webName {
    font-size: 1.3em;           /* Adjust as needed */
    display: flex;
    align-items: center;
    padding-left: 50px; /* Ensure the text is vertically centered */
    
}

.quiz {
    color: black;
    margin-right: 5px;
}

.shuffle {
    color: #15803d;
}

.log {
    background-color: #15803d;
    color: white;
    padding: 10px 20px;         /* Add padding for better button size */
    border: none;               /* Remove border */
    border-radius: 5px;         /* Optional: Round the corners */
    cursor: pointer;
    width: 7%;            /* Change cursor on hover */
}

.page {
    width: 100%;
    height: 100%;
}

.Page {
  width: 100%;
  height: 100%;               /* Full viewport height */
  display: flex;
  flex-direction: column;
}
.iconPic {
    position: absolute;
    width: 40px;
    height:40px;
    padding-top: 10px;
}

.quizName {
    font-weight: bold;
    padding-left:22px;
    padding-top:25px;
}

.plusBox {
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 10px;         /* Rounded corners */
    width: 230px;                /* Set width */
    height:250px;
    display: flex;               /* Use flexbox */
    flex-direction: column;      /* Stack items vertically */
    border: 1px solid #e5e7eb;   /* Light gray border */
    background-color: white;     /* White background */
    padding: 16px;               /* Padding inside the element */
    margin-left: 22px; 
}

.plusIcon {
    width: 250px;   /* Set width */
    height: 250px;  /* Set height */
}
.add-new-quiz {
    user-select: none;   /* Prevents the text from being selectable */
    opacity: 0.4;        /* Sets the opacity to 40% */
    font-weight: bold;         /* Makes the text bold */
    color: #333;               /* Sets the text color */
    cursor: pointer;           /* Changes the cursor to a pointer on hover */
    transition: opacity 0.3s;  /* Adds a transition effect for opacity changes */
    /* You can add more styles here if needed */
}
.add-new-quiz:hover {
    opacity: 0.6; /* Increases opacity on hover */
}